/*---------------------Global--------------------*/

* {
	box-sizing: border-box;
}
/*font styling*/
*{
	font-family: Georgia, serif;
}

/*Center some text for mobile*/
footer,
nav,
h1,
h2,
.onTop {
	text-align: center;
}

body {
	grid-area: body;
	width: 100vw;
	margin: 0;
}
/*---THE GRID---*/
.grid{
	display: grid;
	width: 100vw;
	grid-template-areas: 
	"head"
	"search"
	"body"
	"footer";	
}
/*---HEADER---*/

#headerLogo {
	width: 100vw;
}

header {
	grid-area: head;
	background-image: url(assets/teal-texture.PNG);
	background-position-x: 100%;
}

nav {
	background: black;
	width: 100vw;
	height: 2.5rem;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-content: space-around;
}

nav a {
	display: flex;
	align-self: center;
	text-decoration: none;
	color: white;
	font: 1.5rem 'Gill Sans';
}

nav a:hover {
	color: rgb(255, 238, 0);
}

@media screen and (min-width: 760px) {
	#headerLogo {
	padding: 0 0 0 1rem;
  	width: auto;
  	height: 7rem;

	
	}
	header {
		position: relative;
		width: 100vw;
		max-height: 18vh;
		display: flex;
		flex-flow: row nowrap;
		border-bottom: 6px black solid;
	}
	nav {
		position: absolute;
		right: 2rem;
		bottom: 0;
		width: 30%;
		background: none;
	}
	nav a {
		color: black;
		text-decoration: none;
		font: 10em;
	}
	.navSection {
		padding: 0 1rem;
	}
	.navSection:hover {
		background: black;
	}
	.navSection:hover>a {
		color: rgb(255, 238, 0);
	}
}

/*---SEARCH BOX---*/
.filterContainer {
	grid-area: search;
	position: relative;
	background: black;
	height: 2rem;
	padding: .3rem;
	display: table;
	width: 100%
}

.filterContainer input[type=text],button {
	display: table-cell;
}

.filterContainer input[type=text]{
	max-width: 100%;
}

@media screen and (min-width: 768px) {
	.filterContainer{
		position: absolute;
		bottom: -2rem;
	}

}


/*---FOOTER---*/
footer {
	grid-area: foot;
	background-color: black;
	color: rgb(255, 238, 0);
}

.footerLinks a {
	color: rgb(255, 238, 0);
}


/*---------------End: Global-------------------*/

/*---------------------recipe PAGE----------------------*/

/*center some text*/

.description,
.tags {
	text-align: center;
}

/*description*/

.recipeMainPic{
	width: 100vw;
	height: auto;
}
.title{
	background-color: teal;

	}
.description {
	width: 80%;
	margin: 0 auto;
}

/*the grid*/
.displayImage img{
	width: 100%;
	height: auto;
}
@media screen and (min-width:768px){
.RecipeHeader{
	display: grid;
	grid-template-areas: 
	"image info";
}
.displayImage{
	grid-area: 'image';

}
.info{
	grid-area: 'info';
}}

.title{
	font-size: 3rem;
}
.tags{
/* remove lsit default settings */
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}
.ingredients{
	position: relative;
}
.ingredients img{
	float:right;
	height: 300px;
}
.step{
	width: 100vw;
}
#stepTitle{
	background-color: teal;
}
#stepImg{
	width: 100%;
	height: auto;
}
@media screen and (min-width:768px){
#stepsGrid{
	display: grid;
	grid-template-columns: 1fr 3fr;
}
.ingredients{
	position: sticky;
	grid-column-start: 1-start;
	width: 25vw;
}
.instructions{
	position: relative;
	grid-column-start: 2-start;	
}
.step{
	width: 100%;
}
.ingredients img{
	width: 100%;
	height: auto;
	float: none;
}
}


/*--------------------END:recipe PAGE------------------*/