/*---------------------Global--------------------*/

* {
	box-sizing: border-box;
}
/*font styling*/
*{
	font-family: Georgia, serif;
}

/*Center some text for mobile*/
footer,
nav,
h1,
h2,
.onTop {
	text-align: center;
}

body {
	grid-area: body;
	width: 100vw;
	margin: 0;
}
/*---THE GRID---*/
.grid{
	display: grid;
	width: 100vw;
	grid-template-areas: 
	"head"
	"search"
	"body"
	"footer";	
}
/*---HEADER---*/

#headerLogo {
	width: 100vw;
}

header {
	grid-area: head;
	background-image: url(assets/teal-texture.PNG);
	background-position-x: 100%;
}

nav {
	background: black;
	width: 100vw;
	height: 2.5rem;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-content: space-around;
}

nav a {
	display: flex;
	align-self: center;
	text-decoration: none;
	color: white;
	font: 1.5rem 'Gill Sans';
}

nav a:hover {
	color: rgb(255, 238, 0);
}

@media screen and (min-width: 760px) {
	#headerLogo {
	padding: 0 0 0 1rem;
  	width: auto;
  	height: 7rem;

	
	}
	header {
		position: relative;
		width: 100vw;
		max-height: 18vh;
		display: flex;
		flex-flow: row nowrap;
		border-bottom: 6px black solid;
	}
	nav {
		position: absolute;
		right: 2rem;
		bottom: 0;
		width: 30%;
		background: none;
	}
	nav a {
		color: black;
		text-decoration: none;
		font: 10em;
	}
	.navSection {
		padding: 0 1rem;
	}
	.navSection:hover {
		background: black;
	}
	.navSection:hover>a {
		color: rgb(255, 238, 0);
	}
}

/*---SEARCH BOX---*/
.filterContainer {
	grid-area: search;
	position: relative;
	background: black;
	height: 2rem;
	padding: .3rem;
	display: table;
	width: 100%
}

.filterContainer input[type=text],button {
	display: table-cell;
}

.filterContainer input[type=text]{
	max-width: 100%;
}

@media screen and (min-width: 768px) {
	.filterContainer{
		position: absolute;
		bottom: -2rem;
	}

}


/*---FOOTER---*/
footer {
	grid-area: foot;
	background-color: black;
	color: rgb(255, 238, 0);
}

.footerLinks a {
	color: rgb(255, 238, 0);
}


/*---------------End: Global-------------------*/


/*-----------------------HOME PAGE-----------------*/


/*  THE GRID WITH RECIPE IMAGES  */
.recipeGrid {
	display: grid;
	grid-template-columns: 1fr;
	width: 100vw;
	height: auto;
	align-items: space-around;
	grid-row-gap: 1rem;
	grid-column-gap: 1rem;
}

.recipeSlot {
	height: 15rem;
	background-image: url("assets/300x300.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center; 

}
/*large  screens*/
@media screen and (min-width: 760px) {
	.recipeSlot {
		background-size: 100%;
		background-position: center; 
	}
	.recipeGrid {
		padding: 2rem;
		grid-template-columns: 1fr 1fr 1fr;
		justify-content: space-around;
		grid-row-gap:1rem;
	}
}

/*Title and  tags positioning*/
/*medium screens*/
@media screen and (min-width: 760px){
	.onTop{
		background-color: black;
		width: 100%;
		color: white;
		z-index: 2;
		position: relative;
		top: 6rem;
	}

/*large screens*/
@media screen and (min-width: 960px){
	.onTop {
		background-color: black;
		color: white;
		width: 80%;
		z-index: 2;
		position: relative;
		top: 6rem;
	}}
/*---------------------END: HOME PAGE*----------------------/

/*---------------------recipe PAGE----------------------*/

/*center some text*/

.description,
.tags {
	text-align: center;
}

/*description*/

.recipeMainPic{
	width: 100vw;
	height: auto;
}
.title{
	background-color: teal;

	}
.description {
	width: 80%;
	margin: 0 auto;
}

.description-container {
	background-image: url(#);
}

/*--------------------END:recipe PAGE------------------*/

/*----------------------ABOUT PAGE------------------*/
.aboutContainer {
	width: 70vw;
	margin: 0 auto;
	padding: 1rem 0;
}
.aboutContainer p{
	max-width: 60rem;
}

@media screen and (min-width: 768px) {
	.aboutContainer p{
		font-size: 150%;
	}}

/*END:ABOUT PAGE*/

/*HELP PAGE*/
#helpContainer {
	visibility: hidden;
	width: 80%;
	z-index: 2;
	background-color: teal;
	padding: 1rem;
    position: absolute;
    left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
#helpContainer p{
	max-width: 60rem;
}
.close{
	background: none;
	border: 1 px rgb(255, 238, 0);
	color: rgb(255, 238, 0);
	
}
#Xclose{
	position: absolute;
	right:10px;
	top: 10px;
}
.show #helpContainer  {
    visibility: visible;
}

/*------------------END:HELP PAGE----------------*/